

.about-body {
    background-image: url('../assets/technology/background-technology-desktop.jpg') ;
    background-size: cover;
    background-repeat: repeat;
    background-position: bottom bottom;
}

.about-main {
    padding: 1rem 2.5rem 5rem 2.5rem;
    flex-direction: column;
}

.about-h1 {
    text-align: left;
    font-size: 2rem;
}

.about-h1 > span {
    margin-left:  0.2rem;
    color: hsl( var(--clr-white) / .5);
    font-size: 3rem;
}

.about-h2 {
    margin-top: 2rem;
    text-align: center;
    font-size: 6rem;
    line-height: 4rem;
}

.about-h3 {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    color: hsl( var(--clr-white) / .8);
    letter-spacing: 4px;
    font-weight: 700;
}

.about-p {
    text-align: justify;
    letter-spacing: 1px;
}

/* =====================FOR MOBILE SCREEN SIZES========================  */
@media screen and (max-width: 479.9999px)  {

    .about-body {
        background-image: url('../assets/technology/background-technology-tablet.jpg') ;
    }

    .about-main{
        padding: .5rem 1rem 2.5rem 1rem;
    }

    .about-h1 {
        font-size: 1.5rem;
    }

    .about-h1 > span {
        margin-left:  0;
        font-size: 2rem;
    }

    .about-h2 {
        margin-top: 1.5rem;
        font-size: 4rem;
        line-height: 2rem;
    }

    .about-h3 {
        font-size: 1.1rem;
        letter-spacing: 1px;
        font-weight: 600;
    }

    .about-p {
        font-size: 1rem;
    }

}
/* ========================================================================= */


/* =====================FOR SMALLEST SCREEN SIZES========================  */
@media screen and (max-width: 319.999px) {

    .about-h2 {
        font-size: 3.5rem;
        line-height: 2.5rem;
    }

    .about-h3 {
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 600;
    }
    .about-p{
        font-size: .8rem;
    }
    
}
/* ========================================================================= */