/* -------------------Custom properties------------------- */

:root {
    /* colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;
    
    /* font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    
    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 35em) {
    :root {
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
    }
}

/*------------------- Reset -------------------*/

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    list-style: none;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl( var(--clr-white) );
    background-color: hsl( var(--clr-dark) );
    line-height: 1.5;
    min-height: 100vh;
    
    overflow-x: hidden;
}



a {
    text-decoration: none;
}

/* make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select,
ul,
li {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*------------------- Utility classes-------------------     */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
}

.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* colors */

.bg-dark { background-color: hsl( var(--clr-dark) );}
.bg-accent { background-color: hsl( var(--clr-light) );}
.bg-white { background-color: hsl( var(--clr-white) );}

.text-dark { color: hsl( var(--clr-dark) );}
.text-accent { color: hsl( var(--clr-light) );}
.text-white { color: hsl( var(--clr-white) );}

/* typography */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

/*------------------- Components -------------------*/

.underline-indicators > * {
    cursor: pointer;
    padding: var(--underline-gap, 1rem) 0;
    border: 0;
    border-bottom: .2rem solid hsl( var(--clr-white) / 0 );
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
    border-color: hsl( var(--clr-white) / .5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
    color: hsl( var(--clr-white) / 1);
    border-color: hsl( var(--clr-white) / 1); 
}

.dot-indicators > * {
    margin: 0;
    width: 1rem;
    cursor: pointer;
    border: 0;
    border-radius: 90%;
    padding: 0;
    background-color: hsl( var(--clr-white) / .25);
    aspect-ratio: 1;
}
 
.dot-indicators > *:hover,
.dot-indicators > *:focus { 
    background-color: hsl( var(--clr-white) / .5);
}

.dot-indicators > .active,
.dot-indicators >[aria-selected="true"] {
    background-color: hsl( var(--clr-white) / 1); 
    color: hsl( var(--clr-dark) / 1);
}

/* =====================FOR LARGE SCREEN SIZES========================  */

.body-home {
    display: block;
    background-image: url('../assets/home/background-home-desktop.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.mobile-nav-toggle {
    display: none;
}

.primary-header {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0 0 0 ;
    padding: 1rem 0 0 2rem ;
}

.primary-header::after {
    content: '';
    display: block;
    position: relative;
    height: 1.5px;
    width: 100%;
    margin-right: -1.5rem;
    margin-top: 2.35rem;
    background: hsl( var(--clr-white) / .25);
    order: 1;
}

.primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3.5rem);
    --underline-gap: 1.3rem;
    list-style: none;
    padding: 0 4rem;
    margin: 0;
    background: hsl( var(--clr-white) / 0.2);
    backdrop-filter: blur(1.5rem);
    font-weight: 700;
}

nav {
    align-items:flex-end;
    order: 2;
}

.primary-link {
    font-size: 1.25rem;
}

.logo-isro {
    max-width: 6.5rem;
}

.home-main {
    margin: 0 1rem;  padding: 8rem 10rem 5rem 5rem ;
    text-align: justify;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.home-h1 {
    font-size: 1.5rem;
    line-height: 3rem;
}

.home-h1  > span {
    font-size: 10rem;
    line-height: 8.5rem;
    letter-spacing: 6px;
    display: block;
}

.home-main p {
    max-width: 50ch;
    font-size: 1.1rem;
}

.large-button {
    font-size: 2rem;
    position: relative;
    z-index: 1;
    display: inline-grid;
    place-items: center;
    width: 15rem;
    margin: 6.5rem 0 0 0;
    padding: 0 1em;
    border-radius: 50%;
    aspect-ratio: 1;
    text-decoration: none;
    color: hsl( var(--clr-dark) );
}

.large-button::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: hsl( var(--clr-white) / .1);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 500ms linear, transform 750ms ease-in-out;
}
    
.large-button:hover::after,
.large-button:focus::after {
    opacity: 1;
    transform: scale(1.5);
}

/*----------------------FOOTER-------------------------  */
.footer {
    background-image: url('../assets/footer/footer-background.png');
    display: grid;
    grid-template-columns: minmax(1rem, .5fr) minmax(1rem, 1.5fr) minmax(1rem, 1.2fr) ;
    grid-template-areas: 
    'left center right';
    justify-content: space-between;
    color: hsl( var(--clr-white) / .8 );
    padding: 3rem  0 0.5rem 0 ;
}

.left {
    grid-area: left;
}

.center {
    grid-area: center;
}

.right {
    align-items: center;
    margin: 0 auto;
    grid-area: right;
}

.footer-div > ul > li {
    color: hsl( var(--clr-white) /.5 );
    list-style: disc;
}

.footer-div > ul > li > a {
    font-size: .7rem;
    line-height: 1rem;
    letter-spacing: 1.2px;
    cursor: pointer;
    color: inherit;
    transition: all .4s linear;
}

.footer-div > ul > li > a:hover {
    border-bottom: .02rem solid hsl( var(--clr-white) / 0 );
    border-color: hsl( var(--clr-white) / .5);
    color: var(--clr-white);
}


.footer-div h4 {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 2px;
}

.social-links {
    display: flex;
}

.social-links a {
    background-color: #fff;
    width: 3rem;
    height: 3rem;
    text-align: center;
    text-decoration: none;
    color: #000 !important;
    box-shadow: 0 0 1rem .5rem rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    margin: 1rem 1rem -1rem 0;
    position: relative;
    z-index: 10;
    overflow: hidden;
    transition: all .25s linear !important;
}    

.social-links a .fab {
    color: #000;
    font-size: 1.2rem;
    line-height: 3rem;
    position: relative;
    z-index: 10;
}

.social-links a::after {
    content: "";
    width: 100%;
    height: 100%;
    top: -5rem;
    left: 0;
    background-image: linear-gradient(
    210deg,
    #1f51ff,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #a0ced1,
    #bef0ec
    );
    position: absolute;
    transition: all .4s linear !important;
    transition-delay: 0s !important;
}

.social-links a:hover::after {
    top: 0;
}

.social-links a:hover {
    transform: translateY(-8px);
    color: #fff;
}

.center p{
    font-size: .9rem;
    margin: 1rem auto;
    letter-spacing: 1.5px;
    text-align: justify;
}

footer figcaption {
    font-size: .7rem;
}

.right figure{
    margin: 2.5rem auto;
    justify-content: center;
    text-align: center;
    font-size: inherit;
    letter-spacing: 1px;
}

.right figure img {
    margin: 0 auto;
    width: 1.5rem;
}

.footer-btn {
    text-align: center;
    padding: .5rem auto;
    margin: 2rem auto;
}

.footer-btn > a {
    font-size: 1.15rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #1f51ff;
    border: #1f51ff 0.25em solid;
    padding: 0.25em 1em;
    box-shadow: inset 0 0 0.5em #1f51ff, 0 0 0.5em #1f51ff;
    position: relative;
    transition: background-color 100ms linear;
}
.footer-btn a::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background-color: #1f51ff;
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX("40deg") scale(1, 0.35);
    filter: blur(1.6em);
    opacity: 0.7;
}
.footer-btn a::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em #1f51ff;
    opacity: 0;
    transition: opacity 100ms linear;
}
.footer-btn a:hover::after,
.footer-btn:focus:after {
    opacity: 1;
}
.footer-btn a:hover,
.footer-btn:focus {
    background-color: #1f51ff;
    color: #fff;
    text-shadow: none;
}
.footer-btn:hover::before,
.footer-btn:focus:before {
    opacity: 1;
}
/* ----------------------------------------------- */

/* =====================FOR  DESKTOP SCREEN SIZES========================  */
@media screen and (max-width: 1200px) {

    .primary-header {
        margin: 0;  padding: 2rem 0 0 2rem ;
    }

    .primary-header::after {
        margin-right: -1rem;
    }


    .primary-navigation {
        padding: 0 3rem;
    }

    .primary-link {
        font-size: 1rem;
    }
    
    .primary-link {
        font-size: 1rem;
    }

    .logo-isro {
        max-width: 5.3rem;
    }

    .home-h1 {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .home-h1  > span {
        font-size: 7.5rem;
        line-height: 8rem;
    }

    .home-main p {
        font-size: 1.04rem;
    }

    .large-button {
        font-size: 1.5rem;
        width: 13rem;
        margin: 9rem 0 0 10rem;
    }
    
    /* -------------------FOOTER---------------- */
    .footer {
        grid-template-columns: minmax(1rem, 1fr) minmax(1rem, 1fr) minmax(1rem, 1fr) ;
        grid-template-areas: 
        'left left left'
        'right right right'
        'center center center';
        padding: 1.5rem 0 ;
    }

    .left {
        grid-area: left;
        align-items: center;
        margin: 0 auto 1rem auto;
    }

    .left ul li{
        display: inline;
        margin: 1rem 1rem;
    }
    .left ul li a {
        font-size: .8rem;
    }

    .left::after{
        content: '';
        display: block;
        position: relative;
        height: 1.5px;
        width: 100%;
        margin: .5rem 0;
        background: hsl( var(--clr-white) / .25);
        order: 1;
    }

    .center {
        grid-area: center;
        margin: 0 auto;
        width: 80ch;
    }

    .right::after{
        content: '';
        display: block;
        position: relative;
        height: 1.5px;
        width: 100%;
        margin: .5rem 0;
        background: hsl( var(--clr-white) / .25);
        order: 1;
    }

    footer h4 {
        font-size: 1rem;
    }
}
/* ========================================================================= */

/* =====================FOR SMALL DESKTOPS SCREEN SIZES========================  */
@media screen and (max-width: 1023.9999px) {


    .primary-header {
        margin: 0 ;
    }

    .primary-header::after {
        height: 1px;
        margin-top: 1.8rem;
        margin-right: .1rem;
    }

    .primary-navigation {
        --underline-gap: 1rem;
        padding: 0 2rem;
        line-height: 1.4rem;
    }

    .primary-link {
        font-size: 1rem;
    }

    .logo-isro {
        max-width: 5rem;
    }

    .home-main {
        margin: 1.5rem;  padding: 6rem 0 5rem 0 ;
    }

    .home-h1 {
        font-size: 1.4rem;
    }
    
    .home-h1  > span {
        font-size: 8rem;
    }
    
    .home-main p {
        max-width: 45ch;
        font-size: 1rem;
    }
    
    .large-button {
        font-size: 1.5rem;
        width: 12rem;
        margin: 9rem 0 0 0;
    }
}
/* ========================================================================= */

/* =====================FOR TABLET SCREEN SIZES========================  */
@media screen and (max-width: 767.9999px) {

    .body-home {
        background-image: url('../assets/home/background-home-tablet.jpg');
        background-position:  bottom;
    }

    .home-main {
        margin: 1.5rem;  padding: 2rem 0 5rem 0 ;
        text-align: center;
    }

    .primary-link {
        font-size: 0.9rem;
    }

    .primary-header {
        margin: 0 ;
        padding: 1rem 0 0 1.5rem ;
    }

    .primary-header::after {
        height: 1px;
        margin: 3rem .5rem 0 .5rem;
    }

    .primary-navigation {
        flex-direction: column;
        --underline-gap: .5rem;
        inset: 0 0 0 30%;
        position: fixed;
        z-index: 1000;
        background-color: hsl( var(--clr-dark) / .9);
        margin: 0;
        padding: 6rem 1rem;
        transform: translateX(100%);
    }
    .primary-navigation[data-visible="true"] {
        transform: translateX(0);
    }
    
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        top: 1.5rem;
        right: 1rem;
        background:transparent;
        background-image: url('../assets/icons/icon-hamburger.svg');
        background-repeat: no-repeat;
        width: 1.8rem;
        aspect-ratio: 1;
        border: 0;
    }
    
    .mobile-nav-toggle[aria-expanded="true"]{
        background-image: url('../assets/icons/icon-close.svg');
    }

    .logo-isro {
        max-width: 4rem;
    }

    .home-main {
        margin: 1.5rem;  padding: 4rem 0 4rem 0 ;
        text-align: center;
        display: flex;
        place-content: center;
        justify-content: center;
        flex-direction: column;
    }

    .home-div {
        display: flex;
        place-content: center;
        justify-content: center;
        flex-direction: column;
    }

    .home-h1 {
        font-size: 1.3rem;
    }
    
    .home-h1  > span {
        font-size: 7rem;
        line-height: 6.5rem;
    }
    
    .home-main p {
        max-width: none;
        font-size: 1rem;
    }
    
    .large-button {
        font-size: 1.5rem;
        width: 12rem;
        margin: 4rem 0 0 0;
    }

    /* ---------------footer------------------------- */

    .center {
        grid-area: center;
        margin: 0 auto;
        max-width: 55ch;
    }

    .right::after{
        margin: 0 0 0.8rem 0;
    }

    /* ----------------------------------------------- */
}
/* ========================================================================= */

/* =====================FOR MOBILE SCREEN SIZES========================  */
@media screen and (max-width: 479.9999px)  {
    /* ---------HOME-PAGE-LAYOUT--------------- */
    .body-home {
        background-image: url('../assets/home/background-home-mobile.jpg');
        background-position: bottom;
    }

    .home-main {
        padding: 2rem 0 4rem 0 ;
    }

    .primary-header::after {
        content: '';
        height: 0;
        width: 00;
        margin: 0;
        background: transparent;
        order: 1;
    }

    .home-h1 {
        font-size: 0.95rem;
        letter-spacing: 1.2px;
        line-height: 3rem;
    }
    
    .home-h1  > span {
        font-size: 6rem;
        line-height: 5.5rem;
        letter-spacing: 6px;
        display: block;
    }
    
    .home-main p {
        font-size: .9rem;
    }
    
    .large-button {
        font-size: 1.4rem;
        width: 11rem;
        margin: 3.5rem 0 0 0;
        padding: 0 .8rem;
    }

    /*------------------footer------------------------- */

    .left {
        grid-area: left;
        align-items: center;
        margin: 0 auto ;
    }

    .left ul li {
        margin: .5rem .2rem;
    }
    .left ul li a {
        font-size: .7rem;
        letter-spacing: 0.3px;
    }

    .center {
        grid-area: center;
        max-width: 30ch;
    }

    .right {
        align-items: center;
        margin: 0 auto ;
        grid-area: right;
    }
    /* ----------------------------------------------- */
}
/* ========================================================================= */

/* =====================FOR SMALLEST SCREEN SIZES========================  */
@media (min-width: 0px) and (max-width: 319.999px) {

    .primary-link {
        font-size: 0.9rem;
    }

    .primary-header {
        display: flex;
        justify-content: space-between;
        margin: 0 ;
        padding: 1rem 0 0 1.5rem ;
    }

    .logo-isro {
        max-width: 3.3rem;
    }

    .home-main {
        margin: 1.5rem;  padding: 4rem 0 3rem 0 ;
    }

    .home-div {
        display: flex;
        place-content: center;
        justify-content: center;
        flex-direction: column;
    }

    
    .home-h1  > span {
        font-size: 5rem;
        line-height: 4.5rem;
    }

    
    .large-button {
        font-size: 1.2rem;
        width: 10rem;
    }

}
/* ========================================================================= */